.container{
    background-color: rgb(211, 134, 57);
    padding-top: 20px;
    height: 100vh;
    text-align: center;
}

.class1{
    padding: 10px;
    
}

.head1{
    text-decoration: underline;
    color:black;
    padding-top: 10px;
    font-family: Haettenschweiler;
    font-size: 50px;
}
body{
    background-color: #CBE0D9 ;
}

.but1{
    margin-top: 10px;
}
h5{
    font-family: Algerian;
}